<div class="comment row p-l-20 p-r-20 p-b-30">
  <div class="thumbnail-wrapper d32 circular b-white m-r-10 b-a b-white">
    <%= user.avatar_tag(width: 30, height: 30) %>
  </div>
  <div class="col-sm-10 col-xs-12 no-padding">
    <span class="text-black"><%= user.username_link %></span>
    <p><%= comment.comment %></p>
    <div class="clearfix">
      <div class="pull-left small hint-text"><%= time_ago_in_words comment.created_at %> ago</div>
      <div class="pull-right fs-12">
        <a href="#" class="small hint-text text-black m-r-5">Like</a>
        <a href="#" class="small hint-text text-black">Reply</a>
      </div>
    </div>
  </div>
</div>
