<% if comments.any? %>
  <% if comments.next_page %>
    <div class="paginator row">
      <div class="paging-info col-md-6 text-right mt25">
        <%= page_entries_info comments %>
      </div>
      <div class="paging-links col-md-6 text-left">
        <%= paginate comments, remote: true, params: { resource: :comments } %>
      </div>
    </div>
  <% end %>
  <div class="comments-index mb20">
    <% comments.each do |comment| %>
      <%= render "comments/card", comment: comment, user: present(comment.user) %>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-sm alert-dark pastel mt20 no-comments">
    <i class="fa fa-cubes pr10"></i>
    Oh snap! <strong>No comments were found for this product.</strong>
    Perhaps, you would like to post a new comment?
  </div>
<% end %>
