<div class="col-sm-5 br-l br-grey pl30 hidden-xs">
  <h3 class="mb25"> You'll have access to:</h3>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Curate Products you Like
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Discover Amazing Products
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Create Products' Collections
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Review/Like Products You Own
  </p>
</div>
