<div class="col-sm-5 br-l br-grey pl30 hidden-xs">
  <h3 class="mb25"> You'll Have Access To Your:</h3>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Unlimited Email Storage
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Unlimited Photo Sharing/Storage
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Unlimited Downloads
  </p>
  <p class="mb15">
    <span class="fa fa-check text-success pr5"></span> Unlimited Service Tickets
  </p>
</div>
