<h3> Want beautiful products delivered right to your inbox?</h3>
<p class='action'>Subscribe to our newsletter.</p>
<div class="admin-form theme-primary subscription-form">
  <div class="panel panel-primary">
    <form method="post" action="/subscribe">
      <div class="panel-body row">
        <div class="section col-xs-8 col-sm-6">
          <label for="visitor_email" class="field prepend-icon">
            <input type="email" name="visitor[email]" id="visitor_email" class="gui-input" placeholder="Email address" required="true" email="true">
            <label for="visitor_email" class="field-icon">
              <i class="fa fa-envelope"></i>
            </label>
          </label>
        </div>
        <button type="submit" class="button btn-primary col-xs-4 col-sm-4">Subscribe</button>
      </div>
    </form>
  </div>
</div>
