<div class='promotion shout-out promotion-primary'>
  <h1>Share &amp; Discover the World's Most Amazing Products.</h1>
  <h3><strong>Curated</strong>Shop is a community discovering amazing products across the globe. Join us, share what you find, discover beautiful products.</h3>
</div>
