<div class='promotion page-heading bg-primary text-white'>
  <h1><span class='hidden-xs hidden-sm visible-md-inline-block visible-lg-inline-block'>Share &amp;</span> Discover <span class='hidden-600'>the World's Most</span> Amazing Products.</h1>
  <h3 class="hidden-480"><strong>Curated</strong>Shop is a community curation of products <span class='hidden-660'>across the globe</span>.<br/>Join us, share what you find, discover beautiful products.</h3>
</div>
