<div class='promotion shout-out promotion-primary'>
  <h1><span class='extra-992'>Share &amp; </span>Discover <span class='extra-480'>the World's </span>Most Amazing Products.</h1>
  <h3 class="extra-786"><strong>Curated</strong>Shop is a community discovering amazing products across the globe.<span class='extra-1200'> Join us, share what you find, discover beautiful products.</span></h3>
</div>
