<li class="sidebar-label pt20">Menu</li>
<li>
  <a href="pages_calendar.html">
    <span class="fa fa-calendar"></span>
    <span class="sidebar-title">Calendar</span>
    <span class="sidebar-title-tray">
      <span class="label label-xs bg-primary">New</span>
    </span>
  </a>
</li>
<li>
  <a href="../README/index.html">
    <span class="glyphicon glyphicon-book"></span>
    <span class="sidebar-title">Documentation</span>
  </a>
</li>
<li class="active">
  <a href="dashboard.html">
    <span class="glyphicon glyphicon-home"></span>
    <span class="sidebar-title">Dashboard</span>
  </a>
</li>
<li class="sidebar-label pt15">Theme Tools</li>
<li>
  <a class="accordion-toggle" href="#">
    <span class="glyphicon glyphicon-fire"></span>
    <span class="sidebar-title">Admin Plugins</span>
    <span class="caret"></span>
  </a>
  <ul class="nav sub-nav">
    <li>
      <a href="admin_plugins-panels.html">
        <span class="glyphicon glyphicon-book"></span> Admin Panels </a>
    </li>
    <li>
      <a href="admin_plugins-modals.html">
        <span class="glyphicon glyphicon-modal-window"></span> Admin Modals </a>
    </li>
    <li>
      <a href="admin_plugins-dock.html">
        <span class="glyphicon glyphicon-equalizer"></span> Admin Dock </a>
    </li>
  </ul>
</li>
