.newsletter {
  .panel {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    .panel-body {
      padding: 25px 0 0;
    }
    .panel-footer {
      background-color: transparent;
      padding: 0;
    }
  }
  .subscriptionStatus {
    background-color: #f0fff0;
    padding: 4px 10px;
    margin: 20px 20px 0 0;
    border: 1px solid #d0ffb0;
    display: none;
  }
}
