<div class='users list'>
  <% [primary, users].flatten.uniq.take(10).each.with_index do |user, i| %>
    <%= render "users/card", user: user, presenter: present(user), primary: i == 0 %>
  <% end %>

  <% if users.count > 10 %>
    <div class="user card">
      <span>+<%= users.count - 10 %></span>
    </div>
  <% end %>
</div>
