<div class="add_identities row">
  <% Devise.omniauth_configs.keys.each do |provider| %>
    <div class="col-md-12 col-sm-4">
      <% if current_user.has_identity?(provider) %>
        <%= link_to "<span>#{fa_icon provider.to_s.humanize.parameterize}</span> Authenticated via #{provider.to_s.titleize}".html_safe,
          "#", class: "button btn-social btn-block #{provider.to_s.underscore.camelize.parameterize} span-left mr5", style: "opacity: 0.4" %>
      <% else %>
        <%= link_to "<span>#{fa_icon provider.to_s.humanize.parameterize}</span> Connect #{provider.to_s.titleize}".html_safe,
          omniauth_authorize_path(:user, provider.to_s.underscore),
          class: "button btn-social btn-block #{provider.to_s.underscore.camelize.parameterize} span-left mr5" %>
      <% end %>
    </div>
  <% end %>
</div>
