<div class="page-heading user-box bg-success">
  <div class="media clearfix">
    <div class="media-left pr30"><%= presenter.avatar_tag %></div>
    <div class="media-body va-m">
      <h2 class="media-heading">
        @<%= presenter.username %>
        <small class="hidden-xs"> - <%= presenter.name %></small>
      </h2>
      <p class="lead">
        <span class='level'>Beta User</span><br/>
        <br class="visible-xs-block" />
        Found 123 products,<br class="visible-sm-block visible-xs-block" /> and likes 875 products.<br/>
        <span class="hidden-xs">With us, since last 213 days.</span>
      </p>
    </div>
  </div>
</div>
