<% if products[action].empty? %>
  <div class="alert alert-sm alert-dark pastel">
    <i class="fa fa-cubes pr10"></i>
    <%= yield %>
  </div>
<% else %>
  <div class="row product-index">
    <% products[action].each do |product| %>
      <div class="col-sm-6 col-md-4">
        <%= render "products/card", product: product, presenter: present(product) %>
      </div>
    <% end %>
    <!-- Display information on how to add/like products in a card here...
    <% if products[action].last_page? %>
      <div class="col-sm-6 col-md-4">
        <h3>Extra info...</h3>
      </div>
    <% end %>
    -->
  </div>
  <div class="paginator"> <%= paginate products[action] %> </div>
<% end %>
