<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Home
  <% end %>
  <h1>Editing Profile</h1>
</div>

<%= render 'form' %>

<div class="page-header">
  <h2>Identities</h2>
</div>
<%= render 'identities' %>
