<footer id='site-wide-footer' class='row'>
  <div class="col-md-6 footer-about">
    <%= render "shared/footer/about" %>
  </div>

  <div class="col-md-6 promotion">
    <%= render "shared/promotions/footer" %>
  </div>
</footer>
