<footer>
<h3>Discover the best products on Amazon, FlipKart, SnapDeal, etc., curated by a community with a great taste.</h3>

About App Add products Press Blog Log out
Canopy is an independent company. Amazon is a trademarked brand. 
©2015 Canopy.co. All rights reserved.
Terms Privacy Directory Send feedback
Twitter Instagram Facebook Pinterest Flipboard
</footer>
