<footer id='site-wide-footer' class='row'>
  <div class="col-md-6 col-sm-5 promotion">
    <%= render "shared/promotions/footer" %>
  </div>
  <div class="col-md-6 col-sm-7 footer-about">
    <%= render "shared/footer/about" %>
  </div>
</footer>
