<article>
  <div class='wrapper'>
    <p class="title main">
      Handlisted is a community that curates amazing and elegant products.
    </p>
    <p class="description">
      We feature products from Indian merchant stores like Amazon, Flipkart,
      Snapdeal and others, so that you don't have to search their massive
      catalogue of products to find that one touch of elegance.
    </p>
  </div>
</article>

<article class="alternate">
  <div class='wrapper'>
    <p class="title">
      We do not sell any products on Handlisted.
    </p>
    <p class="description">
      Yeah, we absolutely do not - which is what makes us unique - we are not
      trying to sell you anything - we want to make you aware of the elegance
      hidden in the dark corners of the Internet.
    </p>
  </div>
</article>

<article>
  <div class='wrapper'>
    <p class="title">
      We aspire to curate products from all major Indian merchants/catalogues.
    </p>
    <p class="description">
      Online shopping is, still, new when it comes to India, which is why
      curating a single provider doesn't really help - and therefore, we are
      trying our best to let you curate products from online catalogues like
      Amazon, Flipkart, Snapdeal, FabFurnish, and a lot many others.
    </p>
  </div>
</article>

<article class="alternate">
  <div class='wrapper'>
    <p class="title">
      Products are curated by the Handlisted community as a whole.
    </p>
    <p class="description">
      The Handlisted community finds innovative new products each day, which are
      then featured on the Handlisted homepage. Products that did not appeal to
      the other community members, or which did not gain any interest are
      removed daily from our listing, so as to ensure all products listed are
      quite fascinating.
    </p>
  </div>
</article>

<article>
  <div class='wrapper'>
    <p class="title">
      Like, share or review or visit any product that catches your eyes.
    </p>
    <p class="description">
      As a Handlisted community member, you are able to like, share or review
      the products listed on the website. If a product gets your focus, feel
      free to click away and view it on the merchant website to order it for
      yourself - <strong>we do not sell any products</strong>.
    </p>
  </div>
</article>

<article class='alternate'>
  <div class='wrapper'>
    <p class="title">
      Get promoted, get your badges and show them off.
    </p>
    <p class="description">
      The more you share new amazing products, the more you like them or to be
      honest, the more you do any stuff on Handlisted, you are being promoted
      all the time. With some focus, you can earn a lot of badges - shown on
      your profile - prominently.
    </p>
  </div>
</article>
