<article>
  <div class='wrapper'>
    <p class="title">
      Add products you find amazing on Amazon, Flipkart, and others to Handlisted.
    </p>
    <p class="description">
      If you find something that you love - find it elegant and amazing in some
      way - add it Handlisted. The community will love you for that, and not
      just that, we will prominently display that you discovered that item. What
      else? Oh, yes! Discovering items is the quickest way to earn more badges.
    </p>
  </div>
</article>

<article class="alternate">
  <div class='wrapper'>
    <p class="title">
      To share a product with the community, add its link to our Search bar.
    </p>
    <p class="description">
      When you find a product that you would love to share with the community,
      add its link to our search bar, and just hit <strong>Enter</strong>. We
      will import that product, and credit you for discovering it.

      <br/>
      <img src="https://www.dropbox.com/s/p49ivs2on4h70r3/Screenshot%202015-11-23%2008.23.13.png?dl=1" />
    </p>
  </div>
</article>

<article>
  <div class='wrapper'>
    <p class="title">
      To like a product, just <strong>heart</strong> it!
    </p>
    <p class="description">
      If you love a product that you saw on Handlisted, simply click on the <%=
      fa_icon "heart" %> symbol next to it. We will keep it in a special place,
      just for you. Others (and, ocourse you) can see your liked products on
      your profile. So, keep them interesting!

      <br/>
      <img src="https://www.dropbox.com/s/s6lbn4ltsvn7reb/Screenshot%202015-11-23%2009.25.33.png?dl=1" />
    </p>
  </div>
</article>

<article class="alternate">
  <div class='wrapper'>
    <p class="title">
      You can even leave a review for a product - we really appreciate that!
    </p>
    <p class="description">
      Oh, our favorite kind! If you really really loved a product, or you own it or have used it somewhere, we will love nothing more than a precious review for others to see the value and amazingness of that product. You can leave a comment for the product below its information area.

      <br/>
      <img src="https://www.dropbox.com/s/7veeo9tcw3zv0wc/Screenshot%202015-11-23%2009.29.31.png?dl=1" />
    </p>
  </div>
</article>

<article>
  <div class='wrapper'>
    <p class="title">
      We are coming with more ways to share the products you love.
    </p>
    <p class="description">
      We are, currently, in an active beta. We will be bringing you more simple
      ways to share products on Handlisted. Keep an eye out.
    </p>
  </div>
</article>
