<div class="merchant-header bg-alert">
  <h3>All Available Merchants</h3>
</div>
<div class="row merchant-index">
  <% @merchants.each do |merchant| %>
    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-3 card-container">
      <% cover = merchant.cover_product %>
      <%= render "merchants/card", merchant: merchant,
        product_presenter: present(cover) if cover.present? %>
    </div>
  <% end %>
</div>
<div class="paginator"> <%= paginate @merchants %> </div>
