header.navbar {
  .navbar-nav {
    li {
      a.btn-login {
        background-color: #55BADF !important;
        color: white !important;
        font-weight: bold;
      }
      a.btn-register {
        background-color: #48C9A9 !important;
        color: white !important;
        font-weight: bold;
      }
    }
  }
}

