<div class="comments list">
  <div class="row">
    <div class="col-md-12 m-b-10">
      <div class="widget-1-wrapper">
        <div class="panel">
          <div class="panel-body no-padding">
            <div class="p-t-40 p-b-20">

              <% if comments.any? %>
                <% comments.each do |comment| %>
                  <%= render "comments/card", comment: comment, user: present(comment.user) %>
                <% end %>
              <% elsif current_user.present? %>
                <div class="alert alert-sm alert-dark pastel mt20 commentsList-empty">
                  <i class="fa fa-cubes pr10"></i>
                  Oh snap! <strong>No comments were found for this product.</strong>
                  Perhaps, you would like to post a new comment?
                </div>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
