<div class="commentsList">
  <% if comments.any? %>
    <div class="paginator row">
      <div class="paging-info col-md-6 text-right">
        <%= page_entries_info comments %>
      </div>
      <div class="paging-links col-md-6 text-left">
        <%= paginate comments, remote: true, params: { resource: :comments } %>
      </div>
    </div>
    <div class="commentsList-cards mb20">
      <% comments.each do |comment| %>
        <%= render "comments/cards/default", comment: comment, user: present(comment.user) %>
      <% end %>
    </div>
  <% elsif current_user.present? %>
    <div class="alert alert-sm alert-dark pastel mt20 commentsList-empty">
      <i class="fa fa-cubes pr10"></i>
      Oh snap! <strong>No comments were found for this product.</strong>
      Perhaps, you would like to post a new comment?
    </div>
  <% end %>
</div>
