<h3> Want beautiful products delivered right to your inbox?</h3>
<p class='action'>Subscribe to our newsletter.</p>
<div class="admin-form theme-primary subscription-form">
  <div class="panel panel-primary">
    <form method="post" action="/">
      <div class="panel-body">
        <div class="section">
          <label for="useremail" class="field prepend-icon">
            <input type="email" name="useremail" id="useremail" class="gui-input" placeholder="Email address">
            <label for="useremail" class="field-icon">
              <i class="fa fa-envelope"></i>
            </label>
          </label>
        </div>
      </div>
      <!-- end .form-body section -->
      <div class="panel-footer">
        <button type="submit" class="button btn-primary">Subscribe</button>
      </div>
      <!-- end .form-footer section -->
    </form>
  </div>
</div>
