<% flash.each do |name, msg| %>
  <%= content_tag :div, class: "alert alert-#{%w[error alert].include?(name.to_s) ? "danger" : "success" }", role: "alert" do %>
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg %>
  <% end %>
<% end %>

