<div class='categoryCard panel panel-default'>
  <div class='panel-heading text-left'>
    <div class="panel-title hint-text"><%= presenter.breadcrumbs %></div>
  </div>
  <div class='panel-body'>
    <div class='panel-image panel-image-centered'>
      <div class='image-container m-t-30' style='background-image: url("<%= presenter.cover_image %>")'></div>
    </div>
    <div>
      <h2 class="font-montserrat inline no-margin">
        <%= pluralize(presenter.products_count, "<small class='text-hint'>product</small>", "<small class='text-hint'>products</small>").html_safe %>
      </h2>
      <%= link_to 'Browse', category_path(category), class: "btn btn-sm font-montserrat all-caps m-b-10 m-l-10" %>
    </div>
  </div>
</div>
