<div class="panel panel-tile text-center productCard-mini" data-pid="<%= product.pid %>">
  <div class="panel-body">
    <div class="product-image" data-link="<%= product_path(product) %>">
      <div class="container" style='background-image: url("<%= presenter.cover_image %>")'></div>
    </div>
  </div>
</div>

