.productCollection-index {
  width: 90%;
  margin: 10px auto 27px;
  .card-container {
    margin: 0;
    padding: 0;
    .productCollectionCard {
      margin-bottom: 0;
      border-radius: 0;
      overflow-y: hidden;
      .entity-name h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 24px;
      }
      .entity-image {
        height: 200px;
        .container {
          width: 60%;
          height: 60%;
          position: absolute;
          top: -24px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

.productCollection-header {
  margin: -14px -11px 40px;
  @media (min-width: 992px) { margin: -24px -21px 60px; }
  h3 {
    margin: 0;
    padding: 32px;
    font-size: 18px;
    @media (min-width: 540px) { font-size: 20px; }
    @media (min-width: 768px) { font-size: 22px; }
    @media (min-width: 992px) { font-size: 24px; }
    span { 
      color: #ddd;
      font-weight: normal;
      font-size: 0.85em;
    }
  }
}
