<div class="home-page-slider">
  <div class="slick-slide">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1>Share &amp; Discover the World's Most Unique Products</h1>
        <h3><strong>Curated</strong>Shop is a community discovering amazing products across the globe. Join us, share what you find, discover beautiful products.</h3>
        <button type="button" class="btn btn-lg btn-success">Discover</button>
        <button type="button" class="btn btn-lg btn-alert ">Share Your Find</button>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <%# <div class="col-sm-6"><%= Product.find(22).decorate.cover_image_tag height: 350 %1></div> %>
          <%# <div class="col-sm-6"><%= Product.find(22).decorate.cover_image_tag height: 350 %1></div> %>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="slick-slide">
    <h1>2</h1>
  </div>
  <div class="slick-slide">
    <h1>3</h1>
  </div>
  <div class="slick-slide">
    <h1>4</h1>
  </div>
  -->
</div>

