/*
*= require theme
*= require_self
*/

@import "mixins";

@import "services/magnific_modal";
@import "services/forms_validator";
@import "services/newsletter_subscriber";

@import "sections/pages";
@import "sections/navbar";
@import "sections/footer";
@import "sections/devise";
@import "sections/badges";
@import "sections/comments";
@import "sections/promotions";

@import "products";
@import "users";

.logo {
  width: 125px;
  display: inline;
  vertical-align: text-bottom;
}
