/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-generators
 *= require absolute-admin/admin-forms
 *= require absolute-admin/theme
 *= require absolute-admin/plugins/magnific/magnific-popup
 *= require identities
 *= require products
 *= require homepage
 *= require_self
 */

body#devise-page {
  a.navbar-brand {
    display: block;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    padding: 25px 0 0;
  }
}

header.navbar {
  .navbar-nav {
    li {
      a.btn-login {
        background-color: #55BADF !important;
        color: white !important;
        font-weight: bold;
      }
      a.btn-register {
        background-color: #48C9A9 !important;
        color: white !important;
        font-weight: bold;
      }
    }
  }
  .navbar-form.navbar-search {
    input {
      width: 400px;
    }
  }
}

#sidebar_left {
  .sidebar-header {
    .media {
      .media-links {
        color: #AAA;
      }
    }
  }
}
