/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-generators
 *= require absolute-admin/admin-forms
 *= require absolute-admin/theme
 *= require absolute-admin/plugins/magnific/magnific-popup
 *= require identities
 *= require products
 *= require promotion
 *= require footer
 *= require_self
 */

body {
  margin: 0 auto;
  max-width: 1440px;
}
body#devise-page {
  a.navbar-brand {
    display: block;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    padding: 25px 0 0;
  }
}

header.navbar {
  .navbar-nav {
    li {
      a.btn-login {
        background-color: #55BADF !important;
        color: white !important;
        font-weight: bold;
      }
      a.btn-register {
        background-color: #48C9A9 !important;
        color: white !important;
        font-weight: bold;
      }
    }
  }
}

#sidebar_left {
  .sidebar-header {
    .media {
      .media-links {
        color: #AAA;
      }
    }
  }
}

.progress {
  background-color: #ddd;
}

.popup-full {
  margin: auto;
  .mfp-close {
    right: 5%;
  }
  .panel {
    margin: 20px 5%;
  }
}

body.sb-l-c {
  #toggle_sidemenu_l { display: none; }
  .navbar-branding {
    width: auto;
    .navbar-brand { display: block; }
  }
}

.navbar {
  @media (min-width: 900px) {
    .navbar-search .form-group input { width: 300px; }
  }
  @media (min-width: 1000px) {
    .navbar-search .form-group input { width: 400px; }
  }
  @media (min-width: 1100px) {
    .navbar-search .form-group input { width: 500px; }
  }
  @media (min-width: 1200px) {
    .navbar-search .form-group input { width: 600px; }
  }
  @media (max-width: 500px) {
    .navbar-branding { display: none; }
  }
  @media (max-width: 640px) {
    ul.nav li {
      span { display: none; }
      @media (min-width: 360px) {
        i.fa { font-size: 2em; line-height: 0.6em; }
      }
    }
  }
}

@media (max-width: 299px)  { .extra-300  { display: none !important; } }
@media (max-width: 359px)  { .extra-360  { display: none !important; } }
@media (max-width: 479px)  { .extra-480  { display: none !important; } }
@media (max-width: 539px)  { .extra-540  { display: none !important; } }
@media (max-width: 785px)  { .extra-786  { display: none !important; } }
@media (max-width: 991px)  { .extra-992  { display: none !important; } }
@media (max-width: 1199px) { .extra-1200 { display: none !important; } }

.admin-form {
  .btn-icon { width: 46px; }
  @media (max-width: 539px) {
    .section {
      margin-bottom: 12px;
      .switch {
        font-size: 12px;
      }
    }
  }
}
