$bronze:  #665D1E;
$silver:  #C0C0C0;
$gold:    #FFD700;

.badge {
  padding: 5px 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  background-color: #ccc;
  text-decoration: none;
  &:hover { box-shadow: 2px 2px 2px rgba(0,0,0,0.3); }
  &.bronze { background-color: lighten($bronze, 44); }
  &.silver { background-color: lighten($silver, 18); }
  &.gold { background-color: lighten($gold, 18); }
  &.special { font-weight: bold; background-color: #944; }
  &, &:hover, &:focus {
    color: #777 !important;
    &.special { color: white !important; }
  }
}

