.panel-comments {
  margin-bottom: 40px !important;
  .media-body {
    color: #666;
    h5 { color: #999; }
    .comment {
      white-space: pre;
    }
  }
  .comment-form {
    .comment-box {
      border-radius: 0;
    }
    .btn {
      font-weight: bold;
    }
  }
}
