#content { padding-bottom: 0; }

.bg-header {
  text-align: center;
  margin: 40px -30px 0;
  background-color: #e0e0e0;
  padding: 20px 0;
  font-size: 18px;
}

footer#site-wide-footer {
  color: #AAA;
  overflow: hidden;
  position: absolute;
  padding: 60px 60px 30px;
  background-color: #f8f8f8;
  border-top: 1px solid #DDD;
  transition: margin 0.2s ease;
  transition: margin 0.2s ease;
  width: 100%;
  margin: 0;
  ul {
    padding-left: 0;
    li {
      display: inline-block;
      padding: 5px 20px 5px 0;
    }
  }
  h1,h2,h3,p,ul li { line-height: 1.6em; }
  h3, p.action { color: #777; }
  .social-links li a, .footer-links li a { color: #aaa; }
  .promotion { border-right: 2px solid #dedede; }
  .footer-about { padding-left: 60px; }
  @media (max-width: 991px) {
    & { padding-top: 30px; }
    .footer-about { padding: 15px 10px 10px; }
    .promotion { border: 0; margin-top: 20px; }
  }
  @media (max-width: 991px) and (min-width: 786px){
    & { padding: 30px 90px 15px }
  }
  @media (max-width: 785px) and (min-width: 480px){
    & { padding: 5px 60px 15px }
  }
  @media (max-width: 480px ){
    & { padding: 20px 20px 10px }
    ul.footer-nav li, ul.footer-links li { padding: 5px 10px 5px 0; }
  }
}
