.product-card {
  .product-details {
    height: 80px;
    top: 0px;
    position: absolute;
    margin: 0px 0px 0px -15px;
    padding: 0px 20px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    background-color: white;
    width: 100%;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    h3 { line-height: 1.3em; }
  }
  .product-image {
    opacity: 1;
    height: 300px;
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s ease-in-out;
  }
  .panel-body:hover {
    .product-details {
      opacity: 1;
      background-color: #f8f8f8;
    }
    .product-image {
      opacity: 0.2;
      // background-size: 210px;
      // background-position: 50% 70%;
    }
  }
}

.product-info {
  .product-image-large {
    height: 600px;
    img {
      position: relative;
      padding: 10% 15% 10% 5%;
      display: block;
      max-width: 600px;
      max-height: 600px;
      width: auto;
      height: auto;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .product-details {
    padding-right: 5%;
  }
  .description { 
    overflow-y: scroll;
    margin-bottom: 40px;
    border-bottom: 0;
    .markdown {
      margin-top: 0px;
      font-size: 1.3em;
      text-align: justify;
      margin: 20px 6%;
      max-height: 300px;
      p {
        font-size: 0.8em;
      }
    }
  }
}

.product-mini-card {
  background: #fff;
  padding: 5px;
  max-height: 80px;
  a {
    text-decoration: none;
  }
  img {
    max-width: 70px;
    vertical-align: middle;
    margin: 0 auto;
  }
}

.affiliate-button {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  padding: 10px 20px;
}

a[data-like='on']  .fa { color: #df5640; }
a[data-like='off'] .fa { color: grey; }
.product-card .error {
  background-color: #ffe;
  padding: 10px;
  color: #df5640;
  display: none;
  font-size: 12px;
  z-index: 1000;
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
}
