$colors: (
primary: #4A89DC,
success: #70CA63,
info:    #3BAFDA,
warning: #F6BB42,
danger:  #E9573F,
alert:   #967ADC,
system:  #37BC9B,
dark:    #3B3F4F
);

// several break points that help us hide the content as we deem fit
@each $bp in 240, 320, 360, 400, 480, 540, 600, 660, 720, 900, 1050, 1200, 1400 {
  .hidden-#{$bp} { display: inline-block; }
  @media (max-width: #{$bp - 1}px) {
    .hidden-#{$bp} { display: none !important; }
  }
}

@media (max-width: 539px) {
  .col-xxs-12 { width: 100%; }
  .col-xxs-6 { width: 50%; }
}

body {
  margin: 0 auto;
  max-width: 1440px;
  &.sb-l-c {
    .navbar-branding {
      width: auto;
      .navbar-brand { display: block; }
    }
    #toggle_sidemenu_l { display: none; }
  }
}
header.navbar {
  @media (max-width: 500px) {
    .navbar-branding { display: none; }
  }

  @media (max-width: 640px) {
    ul.nav li {
      span { display: none; }
      @media (min-width: 360px) {
        a:not(.btn) i.fa { font-size: 2em; line-height: 0.6em; }
      }
    }
  }

  @media (min-width: 900px) {
    .navbar-search .form-group input { width: 300px; }
  }
  @media (min-width: 1000px) {
    .navbar-search .form-group input { width: 400px; }
  }
  @media (min-width: 1100px) {
    .navbar-search .form-group input { width: 500px; }
  }
  @media (min-width: 1200px) {
    .navbar-search .form-group input { width: 600px; }
  }
}

#content {
  padding-bottom: 0;
}

.progress {
  background-color: #ddd;
}

.admin-form {
  .btn-icon { width: 46px; }
  .gui-input[disabled] { color: #999; }
  @media (max-width: 539px) {
    .section {
      margin-bottom: 12px;
      .switch {
        font-size: 12px;
      }
    }
  }
  .state-error {
    .gui-textarea {
      border: 0;
    }
    & + em {
      position: absolute;
    }
  }
  .gui-textarea:focus, .gui-textarea:hover {
    border-color: #DDD;
    & ~ .input-footer {
      border-color: #DDD;
    }
  }
}

.nav-pills {
  & > li {
    display: inline-block;
    float: none;
  }
  & > li.active {
    border-radius: 4px;
    & > a.btn {
      background-color: inherit;
    }
  }
  & > li:not(.active) > a {
    border: #666;
    background-color: #ccc;
    padding: 8px 15px;
    border-radius: 0;
  }
}

.tab-content {
  .alert {
    margin-bottom: 60px;
  }
  @media (min-width: 1140px) {
    .alert {
      width: 80%;
      margin: 0 auto 60px;
    }
  }
}

.mfp-zoomIn.mfp-ready.mfp-bg {
  opacity: 0.7;
}

.popup-full {
  margin: 0 auto;
  max-width: 98%;
  @media (min-width: 768px) {
    width: 94%;
  }
  @media (min-width: 992px) {
    width: 90%;
  }
}

.btn-light {
  color: #747474;
  background-color: #e8e8e8;
  &.light   { background-color: #efefef; }
  &.lighter { background-color: #f8f8f8; }
  &.dark    { background-color: #d8d8d8; }
  &.darker  { background-color: #c8c8c8; }
}

.chat-widget {
  .media-body {
    width: 100%;
    &.bg-active {
      background-color: #ffe;
    }
  }
  .media-left + .media-body.bg-active:before, .media-left + .media-body.bg-active:after {
    border: 0;
  }
}
