<div class="panel panel-tile text-center br-a br-grey brand-card">
  <div class="panel-body">
    <a href="<%= brand_path(brand.merchant, brand) %>">
      <div class="brand-image">
        <div class="container" style='background-image: url("<%= product_presenter.cover_image %>")'></div>
      </div>
    </a>
    <div class="brand-details">
      <div class='flexbox'>
        <div class="brand-name"> <h3><%= brand.name.titleize %></h3> </div>
      </div>
    </div>
  </div>
</div>

