<div class="brand-header bg-alert">
  <h3><%= @brand.name.titleize %><span>, a unique brand on <%= @brand.merchant.name.titleize %></span></h3>
</div>
<%= render layout: "products/listing", locals: { products: @products, kind: nil } do %>
  Oh snap! <strong>No products were found for this brand.</strong>
  Perhaps, you wandered off to a strange shop?
<% end %>

