<div class="panel panel-tile text-center br-a br-grey category-card">
  <div class="panel-body">
    <a href="<%= category_path(category) %>">
      <div class="category-image">
        <div class="container" style='background-image: url("<%= product_presenter.cover_image %>")'></div>
      </div>
    </a>
    <div class="category-details">
      <div class='flexbox'>
        <div class="category-name"> <h3><%= category.name.titleize %></h3> </div>
      </div>
    </div>
  </div>
</div>

