<div class="row category-index">
  <% @categories.each do |category| %>
    <div class="col-xxs-12 col-xs-6 col-sm-4 col-md-3 card-container">
      <% cover = category.cover_product %>
      <%= render "categories/card", category: category,
        product_presenter: present(cover) if cover.present? %>
    </div>
  <% end %>
</div>
<div class="paginator"> <%= paginate @categories %> </div>
