<% title "Handlisted.in: account password change" %>
<p><%= salutation %></p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p class='linked'>
  <%= link_to 'Change my password',
    edit_password_url(@resource, reset_password_token: @token),
    class: "danger" %>
</p>

<p>
  We are sorry that you had such trouble accessing your account, but there are
  always things in life we don't enjoy doing. What's important is that you can
  now login to your account easily. Waiting for you....
</p>

<% footer do %>
  <p>
    If you didn't request this, please ignore this email.<br/>
    Your password won't change until you access the link above and create a new one.
  </p>
<% end %>
