<div class='usersList-mini'>
  <% [primary, users].flatten.uniq.take(10).each.with_index do |user, i| %>
    <%= render "users/cards/mini", user: user, presenter: present(user), primary: i == 0 %>
  <% end %>

  <% if users.count > 10 %>
    <div class="userCard-mini">
      <span>+<%= users.count - 10 %></span>
    </div>
  <% end %>
</div>
