<% if products.any? %>
  <div class="row product-index <%= kind.present? ? "product-index-#{kind}" : "" %>">
    <% products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <%= render "products/card", product: product, presenter: present(product) %>
      </div>
    <% end %>
  </div>
  <div class="paginator"> <%= paginate products, params: { kind: kind } %> </div>
<% else %>
  <div class="alert alert-sm alert-dark pastel">
    <i class="fa fa-cubes pr10"></i>
    <%= yield %>
  </div>
<% end %>
