<%= products_listing_for @products do %>
  Oh snap! <strong>No matching products were found for this search.</strong>
  Perhaps, you would like to <a href="#" class='alert-link'>search again</a>?
<% end %>
