<% @products.each_slice(3) do |slice| %>
  <div class="product-card row">
    <% slice.each do |product| %>
      <%= render "card", product: product, size: :small %>
    <% end %>
  </div>
<% end %>
