<div class="row product-index">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <%= render "card", product: product, presenter: present(product) %>
    </div>
  <% end %>
</div>
<div class="paginator"> <%= paginate @products %> </div>
